/* You can add global styles to this file, and also import other style files */
body{
    background-image:url("./app/images/candy.jpg");
 
}
nav{
    background-color:white;
    width: 150px;
}
a{
    color:blue;
}
.top{
    background-color: #f08080;
    font-family: comic 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.subtitle{
    background-color: violet;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}